<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Chat bot</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'app.js' %}"></script>
</head>


<body>
    <div class="container">
        <div class="header">
            <h1>Messages:</h1>
        </div>
        <div class="body">
            <script>botMessage("hello")</script>
        </div>
        <div class="footer">
            <input type="text" name="message" id="messageInput" placeholder="Type your message here..." onkeydown="handleEnterKey(event)">

            <div class="msg-btns">
                <button class="chat-btn" type="submit" value="Send" onclick="sendMessage()"><img class="send-img" src="{% static 'images/sendmsg.svg' %}"></button>
                <button class="chat-btn mic_btn"><img class="mic-img" src="{% static 'images/mic.svg' %}"></img></button>
            </div>


        </div>
        
    </div>

    <script src="app.js"></script>

</body>

</html>